.card{

  aspect-ratio: 4 / 6;
  background: #fff;
  height: 400px;
  border-radius: 20px;
  padding: 40px;
  cursor: pointer;
  box-shadow: 0 .2rem .3rem rgba(0,0,0,.3);
  user-select: none;

  &:hover{
    box-shadow: 0 .3rem .4rem rgba(0,0,0,.4);
  }

  &__front{

  }

  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inner h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 1px solid #aaa;
    width: 100%;
    padding-bottom: 2rem;
  }

  &__inner p{
    padding-top: 2rem;
  }
}